[2018-07-25 10:43] youssmak opened #1 "UnhandledPromiseRejectionWarning: CordovaError: Failed to fetch plugin"
I cannot install the plugin with the command  `cordova plugin add @voxeet/cordova-plugin-voxeet@1.0.5`

`(node:66516) UnhandledPromiseRejectionWarning: CordovaError: Failed to fetch plugin @voxeet/cordova-plugin-voxeet@1.0.5 via registry
`
It seems to be an issue with the 1.0.5 version, maybe it doesn't exist in the registry

I could only install the plugin through the git repository : `cordova pl

[2018-07-26 10:23] youssmak opened #3 "Unable to build on Android"
cordova-cli
`8.0.0`

cordova-android
`android 6.4.0 `

build cmd
`cordova platform add android@6.4.0 && cordova build android -- --gradleArg=-PcdvMinSdkVersion=16 --verbose`

[code]

[2018-09-04 15:28] youssmak commented on #4
Script to delete simulator support :

[code]

see https://stackoverflow.com/questions/42641806/check-and-remove-unsupported-architecture-x86-64-i386-in-ipa-archive

[2018-09-11 12:41] youssmak commented on #3
I have finally fixed it by fixing the fcm version of the push plugin
[code]
Maybe you could update the README ?

[2018-12-03 15:35] ghaiat commented on #2
hello
any update on this ? we re facing the same issue

[2018-12-03 15:42] Comanga commented on #2
Hello, have you followed these steps:
https://github.com/voxeet/voxeet-cordova-conferencekit#ios

I think your error comes from this point: set ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES in Xcode build settings to true

[2018-12-03 15:44] ghaiat commented on #2
Hello , i just checked and it is set to true

[2018-12-03 15:45] ghaiat commented on #2
![image](https://user-images.githubusercontent.com/5446909/49384216-71789500-f712-11e8-9093-63eec6dc0d74.png)

[2018-12-03 15:53] Comanga commented on #2
I can reproduce this crash if I set ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES to NO:
dyld: Library not loaded: @rpath/libswiftAVFoundation.dylib
  Referenced from: /private/var/containers/Bundle/Application/1571F2B6-8E7B-4ABC-B873-67F59A875A91/CordovaVCK.app/Frameworks/VoxeetConferenceKit.framework/VoxeetConferenceKit
  Reason: image not found

Make sure to set ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES YE

[2018-12-03 15:53] Comanga commented on #2
Do you have the same crash? What's your Xcode version?

[2018-12-03 15:56] weiz18 commented on #2
@Comanga Our Xcode Version is 10.1

[2018-12-03 16:02] weiz18 commented on #2
dyld: Symbol not found: __T0BOWV
  Referenced from: /private/var/containers/Bundle/Application/*/Operations.app/Frameworks/VoxeetSDK.framework/VoxeetSDK
  Expected in: /private/var/containers/Bundle/Application/*/Operations.app/Frameworks/libswiftCore.dylib
 in /private/var/containers/Bundle/Application/*/Operations.app/Frameworks/VoxeetSDK.framework/VoxeetSDK

[2018-12-03 16:12] weiz18 commented on #2
Hey,

Do you think it is related to the version of swift?

thanks

[2018-12-03 17:48] weiz18 commented on #2
Hey @Comanga
Your solution works. thanks for the help.

[2019-01-30 16:26] #3 closed

[2019-01-30 16:26] #1 closed

[2019-01-31 09:53] codlab commented on #8
Without being able to reproduce it would be convenient to have the following filled up :
[code]

[2019-01-31 11:14] youssmak commented on #9
@codlab not fixed in the latest release. I have reproduced too

[2019-01-31 14:55] codlab commented on #8
Despite a possible issue with the cache of users, the issue itself can not be reproduced

[2019-01-31 14:56] codlab commented on #9
Is the WAKE_LOCK permission properly set in the AndroidManifest ?

[2019-01-31 15:32] codlab commented on #10
Do you have the audio settings permission ?

[code]

[2019-02-01 10:48] youssmak commented on #10
I have the permission.
A case when it occurs: plug headphones before joining a call.
It works well if i plug the headphones after a video conf is established.

[2019-02-01 10:53] youssmak commented on #9
I have it
`<uses-permission android:name="android.permission.WAKE_LOCK" />`

[2019-02-01 11:38] youssmak opened #11 "Unwanted call when coming from the background to the foreground"
# Expected Behavior

Doesn't re-call a previous call if current user has ended a conversation

# Actual Behavior

When the app is coming from the background to the foreground, the last call is launched even if current user has ended the call with the hang up red button

# Steps to Reproduce the Problem

- install your app in production mode :
here is my cmd :
[code]

## Workflow

- make a call
- s

[2019-02-01 11:41] youssmak commented on #11
Cannot reproduce the issue if the android apk package is not builded in release mode

[2019-02-01 11:50] youssmak commented on #8
To be more precise, the call continue when coming from the background but the video is not received anymore (only the audio is still received). Furthemore, “waiting for users” is showed instead of the video the video.

To reproduce you have to package your android app in release mode (mandatory for a Google Play release).

This issue: https://github.com/voxeet/voxeet-cordova-conferencekit/issues/1

[2019-02-01 12:05] youssmak commented on #9
To reproduce, please make sure that there is no connected cable to the phone : no debug mode and telephone is not in charge.

[2019-02-01 13:48] codlab commented on #8
the video signal off is a standard and expected behaviour. The new sdk reflect it properly close the stream (prevent "frozen" behaviour)

[2019-02-08 21:58] bsenard commented on #8
@JeanCarriere show me this bug, we will try to reproduce it

[2019-02-08 21:59] bsenard commented on #9
@JeanCarriere show me this bug, we will try to reproduce it

[2019-02-08 22:01] codlab commented on #10
The fix should be available for this last item really soon. Currently testing

[2019-02-08 22:02] codlab commented on #9
Fix in the next version (available in internal 1.4.6+ sdk)

[2019-02-08 22:36] shawnjung opened #13 "Voxeet.defaultVideo(true) is not working when you accept an incoming call on an android device"
**Describe the bug**

on an Android device, `Voxeet.defaultVideo(true)` setting is ignored when you accept an incoming call.

**Expected Behaviour**

when I accept the incoming call, I expect the camera (video) is on by default, but it was off.

**Steps to Reproduce the Problem**

  1. Initialize SDK with the `Voxeet.defaultVideo(true)`
  2. Trigger invitation from another device.
  3. Accept the

[2019-02-09 00:51] shawnjung commented on #12
Seems like the Voxeet developer portal doesn’t apply changes(firebase token, voip certificate). it seems updated but not really working.
I just made new fresh project and set the firebase and voip configuration, and Android and iOS background incoming call (when app is killed) is working fine.

[2019-02-10 23:31] codlab commented on #13
Note that the underlying SDK does use upgraded dependencies. In case of any break in your librarie, please add below the information. I think that the only issue you may have is concerning Firebase which is now `17.3.4` to match the build system 28 due to deprecated gradle from the end 2018

[2019-02-13 10:45] codlab commented on #14
Make sure that you have the following (at least)
- gradle wrapper version : `4.1`
- compileSdkVersion : `28`
- buildToolsVersion : `28.0.3`
- buildScript build gradle plugin : `3.0.0`

For referenchere is the sdk environment :
- build gradle plugin `3.3.0` (pas d’incidence directe, compat 3.+)
- external variables
[code]

[2019-02-13 14:57] youssmak commented on #14
FCM_VERSION: 17.3.4

Thks for the details.
I can build the android project again

[2019-02-13 15:39] youssmak commented on #10
seems to be fixed now. thanks !

[2019-02-13 15:44] youssmak commented on #8
Seems to be fixed in the latest release. I will test more and will reopen it if it occurs again.
Thanks !

[2019-02-13 15:51] youssmak commented on #9
Fixed in the latest release 👍
will reopen it if a talkspirit team member is still able to reproduce it

[2019-02-13 15:58] youssmak commented on #11
Fixed in the latest release. thank you

[2019-02-13 21:31] shawnjung commented on #13
upgraded firebase messaging to 17.3.4 and seems it is resolved

[2019-02-13 21:31] #13 closed

[2019-02-18 08:25] codlab commented on #16
In the meantime, avoid calling sdk methods without initializing first. This can happen in such case.

The best practice is to initialize the SDK first thing first even if the user is to be connected later

Also when providing accurate reproducing bug when doing so

[2019-02-18 08:25] codlab commented on #16
Avoid assigning people not in charge of the Android side

[2019-02-18 08:32] codlab commented on #16
A fix should be available really soon 👌

[2019-02-18 08:37] youssmak commented on #16
thanks.
I have not assigned anyone nor added the "bug" label : https://github.com/voxeet/voxeet-cordova-conferencekit/blob/master/.github/ISSUE_TEMPLATE/report-an-issue.md

[2019-02-18 08:39] codlab commented on #16
I'll look into it as well 👌

Le lun. 18 févr. 2019 à 09:37, Youssef Makboul <notifications@github.com> a
écrit :

[2019-02-18 10:46] codlab commented on #16
The calls should be properly managed now. The SDK calls returning a promise will now fail if the SDK is not properly initialized

[2019-02-18 12:23] codlab commented on #16
The issue is fixed, I'm closing it. Feel free to reopen in case it would be necessary to reuse it for the same contextual issue

[2019-02-19 11:10] youssmak commented on #8
Still able to reproduce it finally. You have to delete the app to reproduce it, to be able to accept the permissions again.

### Workflow

  1. Delete your android app
  2. Reinstall your android app
  3. start a call from another device (web app for example)
  4. join the call from the android app
  5. accept the permissions to access microphone ...
  6. put the app in the background
  7. put the

[2019-02-19 11:13] youssmak commented on #11
Still able to reproduce it finally. You have to delete the app to reproduce it, to be able to accept the permissions again.
Killing the app in the background and relaunching it is fixing the issue.

### Workflow

  1. Delete your android app
  2. Reinstall your android app
  3. start a call from another device (web app for example)
  4. join the call from the android app
  5. accept the permission

[2019-02-19 11:18] youssmak commented on #8
Also, i'm not able to see the receiver when i join the call. He has to stop / restart the video sharing to be able to see him. Then "Calling" label is showed on top of the video.

[2019-02-20 17:07] youssmak commented on #9
Still able to reproduce it. The screen is fading after but is not turning off anymore.
Could you please reopen the issue ?

[2019-02-20 17:09] youssmak commented on #9
* Version: Voxeet 1.0.30
* Platform: Android 8.0
* Subsystem: EMUI 8.0.0
* Hardware: Honor 7X

[2019-02-20 17:18] youssmak commented on #10
Many of our team members have bluetooth headphones.
Having bluetooth headphones before joining a call doesn't make the sound comes out on headphones.
Touching the speaker button is fixing it.

[2019-02-21 19:44] codlab commented on #17
What is the manifest permissions list ?

[2019-02-21 19:46] codlab commented on #11
Given the following sample code and the standard Android lifecycle of apps, this behaviour is completely possible when Cordova's lifecycle is resetted by the system.

[code]

[2019-02-22 09:44] youssmak commented on #17
platforms/android/app/src/main/AndroidManifest.xml
[code]

[2019-02-22 09:50] youssmak commented on #11
what do you mean ? the issue cannot be fixed ?
The sample code is the cordova example present in the README
This bug only occurs on a fresh install,  after you accept the permissions to access the mic / camera.

[2019-02-22 13:19] codlab commented on #17
The fading is reproduced, a full wake lock will be added

[2019-02-22 13:30] codlab commented on #11
In you apk, this happens every time. Never in the repository which is being created right now (full impl soon, for now only the www folder)

[2019-02-22 13:30] youssmak commented on #17
👌💯

[2019-02-22 13:31] codlab commented on #11
Here is the link to the current code. The full project should be available soon. [here](https://github.com/voxeet/voxeet-cordova-sample)

[2019-02-22 13:41] youssmak commented on #11
It happens everytime the app is deleted, to accept the permissions again.
If you hard kill the app (remove it from background), this issue will be fixed on our app.

I will check your implementation.

[2019-02-22 14:38] codlab commented on #11
we can reproduce with your app at a 100% "success" rate if we make the app to go the task manager (or home button) and then switch back to it

Without deleting it. Something not hapenning in the sample

[2019-02-22 15:35] codlab commented on #10
only reproduced for the bluetooth headset

[2019-02-22 16:03] codlab commented on #8
I can't reproduce this issue but the bugged overlay must be due to the incorrect #11

[2019-02-24 00:54] codlab commented on #17
It will be shipped into the native 1.4.11 version. Since this version is bumping the compatibility support to the Android 28, I'm working on the list of compatibility libraries it's built against to help integrate or upgrade in case of incompatibility with used libraries

[2019-02-24 00:56] codlab commented on #10
It will be shipped into the native 1.4.11 version. Since this version is bumping the compatibility support to the Android 28, I'm working on the list of compatibility libraries it's built against to help integrate or upgrade in case of incompatibility with used libraries

[2019-02-24 01:13] codlab commented on #11
Found and fixed, I did not followed the workflow properly. I can reproduce when the app is running while the mic permission was requested

[2019-02-25 10:17] codlab commented on #17
A sample has been pushed a moment ago. It adds the various evolution for the Android platform. You can clone it from [here](https://github.com/voxeet/voxeet-cordova-sample)

[2019-02-25 10:17] codlab commented on #11
A sample has been pushed a moment ago. It adds the various evolution for the Android platform. You can clone it from [here](https://github.com/voxeet/voxeet-cordova-sample)

[2019-02-25 10:17] codlab commented on #10
A sample has been pushed a moment ago. It adds the various evolution for the Android platform. You can clone it from [here](https://github.com/voxeet/voxeet-cordova-sample)

[2019-02-26 16:10] youssmak commented on #17
seems to be fixed.
thanks 👍

[2019-02-26 16:10] youssmak commented on #10
seems to be fixed.
thank you for the quick fix 👍

[2019-02-26 16:11] youssmak commented on #11
Seems to be definitely fixed.
Thank you

[2019-02-26 16:11] #11 closed

[2019-02-26 16:12] youssmak commented on #8
Seems to be definitely fixed. thks !

[2019-03-07 16:56] codlab commented on #1
the `.git` is unecessary

[2019-03-07 17:13] Tallyb commented on #1
Can you please explain how to install, then? It fails for me.

[2019-03-18 09:39] youssmak opened #2 "Unable to switch from one call to another on iOS"
**Describe the bug**

I'm unable to switch from one call to another call on iOS. To reproduce it you have to reduce the videoconf window and join another call without clicking on the hang up button first.
Then you will not be able to join another calls anymore.
The "Touch to return to call" green topbar is still showed even if there is no current call.
A hard kill and re-launch of the app is fixin

[2019-03-19 23:44] bijanmmarkes commented on #1
The .git is in fact necessary. Without it the installation fails.

[2019-03-19 23:50] codlab commented on #3
For compatibility with non typescript project, this PR is rejected

[2019-03-19 23:54] codlab commented on #1
Tested on various environment, the .git id unecessary using the standard https, it's mandatory on git+https (forcing git management protocol) - the above issue is only due to git managing repo signature which changed and requires a full clean from its internal state.

The npmjs bundle should prevent any future burden (as well as the stability from the project from now)

[2019-03-20 00:03] bijanmmarkes commented on #3
The files within this repository are `.ts` - the build fails due to this exact reason, the plugin.xml is referencing `.js` so the build fails: https://github.com/voxeet/voxeet-cordova-conferencekit/blob/master/plugin.xml#L29

https://github.com/voxeet/voxeet-cordova-conferencekit/blob/master/www/Voxeet.ts
https://github.com/voxeet/voxeet-cordova-conferencekit/blob/master/www/UserInfo.ts

[2019-03-20 00:34] codlab commented on #3
I'll maybe update in the future to only have the root folder being a copy of the transformed ts file but this repo is now focusing on providing the means to provide the required element onto npmjs only.

Hence, no modification whatsoever for the plugin.xml which is only targetting transformed files and not the typescript's compatible sources

[2019-03-20 15:27] VTCoco commented on #2
Hello,

We have temporary fix your issue with this commit: 9afeae0ea604fa5cb50edd4dad0f1073393e4ea6
The npm release should be available by the end of the week (~v1.1), the documentation will also be updated to show some breaking points.
Make sure to call `leave` method before creating/joining a conference like this:

[code]

[2019-03-20 15:27] #2 closed, assigned to nobody

[2019-03-21 22:20] bijanmmarkes opened #4 "Initializing in Ionic 4/3 / Angular 7/6/5 - How to import the VoxeetSDK?"
**Describe the bug**
I am unable to initialize the VoxeetSDK variable when using an Ionic 4 / Angular 7 project. I add the plugin using cordova, but there is no way to import it as VoxeetSDK or Voxeet doesn't seem to exist.

Has anyone initialized this library using ionic 4, is it possible?

**Expected Behaviour**
To be able to import Voxeet using the following Ionic format:
`import {Voxeet, UserI

[2019-03-21 22:29] codlab commented on #4
The typical way to use cordova plugin is to directly use the window injection.

To do so, simply you can use `(<any>window).VoxeetSDK` for instance. There are various manipulation possible such as the overall declaration using the implicit window import for instance

It's currently unplanned to have support for Ionic framework - maybe in the future, we'll let you know

[2019-03-21 22:29] #4 closed, assigned to nobody

[2019-03-22 23:26] bijanmmarkes opened #5 "Customizing the UI - Displaying Custom Buttons on top of video."
**Describe the bug**
Hello, I have been working with this SDK for the past week now, I love what it is capable of, I finally got it working on my Ionic 4 project, and absolutely love the way it works. I know you may be getting sick of me posting issues but I don't know any other place to ask questions about this repo. My issue is that there is no documentation for this plugin, and I have no way of

[2019-03-25 09:18] VTCoco commented on #5
Thank you for your feedback @bijanmmarkes, glad you like it :).

For now the only way to fully customize the UI is to fork both Android and iOS open sources repos, customize them natively and retrieve them with Cordova:

Android: https://github.com/voxeet/android-sdk-toolkit
(and update with your forked repo: YOUR_PROJECT/node_modules/cordova-plugin-voxeet/src/android/build-extras.gradle)

iOS: ht

[2019-03-28 10:28] Tallyb opened #6 "XCode 10.2 support"
After installing XCode 10.2 the local swift version is set to 5.
When adding the plugin the following error shows:
[code]

**Expected Behaviour**
Install even when swift is 5 (do not enforce downgrading).

**Steps to Reproduce the Problem**

1. upgrade Xcode to 10.2
2. Add the plugin to a project. (clear plugins etc.)
- cordova version  8.1.2
- cordova-ios 4.5.5
- plugin version 1.1.0

Suggested f

[2019-03-28 10:32] VTCoco commented on #6
Swift 5 compatibility is coming in the next hour :) Working on it.

[2019-03-28 10:51] VTCoco commented on #6
It should be available @Tallyb, is it good on your side?

[2019-03-28 10:58] #5 closed, assigned to nobody

[2019-03-28 11:13] VTCoco commented on #6
The npm is also updated: 1.1.1 version (cordova plugin add cordova-plugin-voxeet).

[2019-03-28 12:20] Tallyb commented on #6
@VTCoco It seems like there a is a problem in the way you define it.
While other frameworks (e.g. kingfisher) are built regardless of the local swift version. voxeet-ios-sdk is enforcing the exact version. So on the CI (and potentially other developers machines), the local version is 4.2.1 and then it fails.

[2019-03-28 12:27] Tallyb opened #7 "voxeet-application script is missing from tar"
warning when installing the plugin:
Script file does't exist and will be skipped: /Users/vagrant/git/plugins/cordova-plugin-voxeet/voxeet_application.js
1.1.0

While the file is on the github repo, it is not included in the npm tar file. You can download it from here to inspect:
https://registry.npmjs.org/cordova-plugin-voxeet/-/cordova-plugin-voxeet-1.1.0.tgz

expected: add the file to tar file i

[2019-03-28 12:34] VTCoco commented on #6
Kingfisher has already published a patch 29 days ago for Swift 5 (with Xcode 10.2 beta) and is open source so `--no-binaries` works easly on it.
https://github.com/onevcat/Kingfisher/releases/tag/5.2.0

However VoxeetSDK isn't open source so when a new Swift version is available we need to compile it again with the latest Swift version (and I don't had time to test Xcode 10.2 beta).

[2019-03-29 04:42] Tallyb opened #8 "use of undeclared identifier 'VoxeetConferenceKit' / VoxeetSDK"
Cannot build iOS
mobile/platforms/ios/Operations/Plugins/cordova-plugin-voxeet/CDVVoxeet.m:22:10: error:
      use of undeclared identifier 'VoxeetSDK'
        [VoxeetSDK.shared initializeWithConsumerKey:consumerKey consumerSecret:consumerSecret u...
         ^
mobile/platforms/ios/Operations/Plugins/cordova-plugin-voxeet/CDVVoxeet.m:23:10: error:
      use of undeclared identifier 'VoxeetConferen

[2019-03-29 13:56] VTCoco commented on #8
What is your Xcode version?
I have a sample which works with the latest update. I have the same Cordova version and plugin:

"cordova-plugin-voxeet": {
            "version": "1.1.1",
            "resolved": "https://registry.npmjs.org/cordova-plugin-voxeet/-/cordova-plugin-voxeet-1.1.1.tgz",
            "integrity": "sha512-9Fu0QOXcxunX1A8NfznSYDRKzY4ksGuQvInKS7GMt36K3vXRJHAm3kgC4tO7XwkoaT0Kt1EVd

[2019-03-31 15:52] Tallyb commented on #8
XCode 10.2 (local and on CI)
It works on the CI but does not work locally. Any thought?

[2019-04-01 08:25] VTCoco commented on #8
"does not work locally" means it isn't working with Xcode?
Does your Xcode command line tools is also running on the last Xcode release? (do you have multiple Xcode version on your Mac which may cause your bug?)

It's a little weird ^^

[2019-04-01 08:59] VTCoco commented on #8
I have found some interesting blogs, the ABI of Swift should be now stable with the 5.0 version:

https://medium.com/swiftify/swift-5-and-abi-stability-the-best-time-to-migrate-d4029d5342e9

https://swift.org/blog/abi-stability-and-more/

So I hope I will not upload a new version of Voxeet SDKs frameworks just for a new future Swift version!

[2019-04-01 09:01] VTCoco commented on #8
However it means that Swift 4.2 can't be understood by a framework which embed Swift 5.0 and vice versa.

[2019-04-01 09:18] youssmak commented on #6
I have the same issue and i use XCode 10.1
It seems that Xcode 10.2 is needed, and macOS Mojave is needed to install it.
The Voxeet cordova project is now only compatible with Xcode > 10.2

So i have to upgrade from High Sierra to Mojave :/

[2019-04-01 09:25] VTCoco commented on #6
@youssmak you have the reverse issue. If you still want time to upgrade from Xcode 10.1 to 10.2 you can still use VoxeetSDK before https://github.com/voxeet/voxeet-ios-sdk/releases/tag/1.3.3 and VoxeetConferenceKit before https://github.com/voxeet/voxeet-ios-conferencekit/releases/tag/1.1.6 which support Swift 4.2.

When you will be ready just upgrade them to >= 1.3.3 (VoxeetSDK) and >= 1.1.6 (Vox

[2019-04-01 09:25] #6 closed, assigned to nobody

[2019-04-01 09:26] codlab commented on #6
It'd be a good time to update ^^ not to mention security best practices :p

[2019-04-04 06:52] Applr-techport opened #9 "Installation is not possible."
I try to install and run it, but I can not run it.
this iOS version
xCode v10.2

sh-3.2# cordova plugin add cordova-plugin-voxeet
Installing "cordova-plugin-voxeet" for ios
Running command: /Users/Mac/Desktop/02.SI/13.Oritranslate/01.Hybrid/oritranslate.ios.1_0_12/plugins/cordova-plugin-voxeet/build_ios_frameworks.sh /Users/Mac/Desktop/02.SI/13.Oritranslate/01.Hybrid/oritranslate.ios.1_0_12
Instal

[2019-04-04 15:41] VTCoco commented on #9
Hello, I think you just need to upgrade your carthage with **brew upgrade carthage** :)

[2019-04-05 01:48] Applr-techport commented on #9
Thank you for your reply.
I updated the carthage as you answered, but the same issue is happening.
Is there any other suspicious situation?

[2019-04-05 07:37] VTCoco commented on #9
What is your current Carthage version? I think your problem is carthage related.
"Could not find any available simulators for iOS" comes from a carthage error. Make sure to update your Xcode (10.2 and launch it one time to install new command line tools), carthage (0.33.0).

[2019-04-09 03:10] Applr-techport commented on #9
ok this problem carthage version
thank you

[2019-04-09 03:36] Applr-techport opened #10 "question"
Is there a way to modify ui in cordova javascript source?

When default video is false, the proximity sensor does not turn off the screen even if you do not make a voxeet call.

Is there a way to solve this?

[2019-04-09 06:45] codlab commented on #10
No possibility to modify the ui from the cordova side currently.

What platform?

Avoid mixing multiple requests in a single ticket.

[2019-04-09 06:46] #9 closed, assigned to nobody

[2019-05-07 14:23] youssmak opened #12 "Plugin fails to install with cordova-cli 9"
**Describe the bug**

`Using "requireCordovaModule" to load non-cordova module "fs" is not supported. Instead, add this module to your dependencies and use regular "require" to load it.`

[2019-05-07 14:23] youssmak commented on #12
https://github.com/voxeet/voxeet-cordova-conferencekit/pull/11

[2019-05-17 09:06] youssmak commented on #12
up ?

[2019-05-19 10:45] codlab commented on #10
Without activity I'm closing this issue. We'll definitively work in the future to add some features for hybrid customisation.

Concerning the screen sensor, make sure that you made the proper configuration to add the wake permission in the AndroidManifest

[2019-05-19 10:45] #10 closed, assigned to nobody

[2019-05-19 10:47] codlab commented on #7
This issue is resolving in the latests versions of the plugin

[2019-05-19 10:47] #7 closed, assigned to nobody

[2019-07-23 09:21] #12 closed, assigned to nobody

[2019-07-23 10:52] youssmak opened #14 "Exception when adding liveRecording param"
**Describe the bug**

liveRecording seems to not being supported
It works well with the same code when removing the "params" attribute in create() method

**Expected Behaviour**

support liveRecording param on Android

**Minimalistic code (recommended)**

[code]

**Android Logs**
[code]

**Specifications**

  - Devices: Honor 7X
  - OS: Android
  - Platform: Android 8.0.0

[2019-07-23 11:18] youssmak opened #15 "App crash when using broadcast method"
**Describe the bug**

The app crash when using broadcast method on iOS.
The app works well replacing broadcast method by join method.

**Expected Behaviour**

Support broadcast method, and show user in fullscreen even if no user has joined the livestream yet (same as on Android)

**Minimalistic code (recommended)**

[code]

**Logs**
[code]

**Specifications**

  - Device: iPhone 7
  - OS: iOS 12.3

[2019-07-23 12:14] youssmak opened #16 "liveRecording param seems to be ignored"
**Describe the bug**

No recording is generated and no webhook is received.

**Expected Behaviour**

Record the conference, same as through the react web version

**Minimalistic code (recommended)**

[code]

**Specifications**

  - Device: iPhone 7
  - OS: iOS 12.3.1
  - Platform: iOS

[2019-07-23 12:29] VTCoco commented on #16
Hello @youssmak, `liveRecording` parameter isn't enough to start a recording.
The `liveRecording` parameter is only here to activate the record **during** the conference (mp3, MP4), but it will not start the record automatically.

We need to expose the `record` method for Cordova: https://github.com/voxeet/voxeet-ios-sdk#record-conferences so it's more like an improvement than a bug.

[2019-07-23 14:10] VTCoco commented on #15
You should broadcast a message after joining a conference (`.then(result => Voxeet.broadcast(result.conferenceId))`).

-> create
-> join
-> broadcast message

[2019-07-24 11:06] youssmak commented on #15
To be clear, i'm not using the sendBroadcastMessage method but the broadcast() one.
My app still crash when joining before broadcasting :

[code]

It doesn't crash on Android with or without joining before broadcasting

[2019-07-24 11:40] VTCoco commented on #15
Sorry @youssmak I misunderstood the question because I totally forgot that we had a `broadcast` method on Cordova which basically do a join with some internal options.

I’m working on a fix for the crash and do a basic join for iOS / Android compatibility.

[2019-07-24 14:35] codlab commented on #16
Bundled within the 1.2.2, this feature is available through

[code]

to actually trigger the recording (or stop it :

[code]

[2019-07-24 14:37] codlab commented on #15
Bundled within the 1.2.2, this adds the fix for iOS

[2019-07-24 14:37] #15 closed, assigned to nobody

[2019-07-24 14:37] #16 closed, assigned to nobody

[2019-07-24 14:38] codlab commented on #14
Bundled within the 1.2.2, this bug is fixed

[2019-07-24 14:38] #14 closed, assigned to nobody

[2019-07-25 08:40] VTCoco commented on #8
Closed due to inactivity, Swift 5 is coming with a stable ABI https://swift.org/blog/abi-stability-and-more/
It should patch this issue.

[2019-07-25 08:40] #8 closed, assigned to nobody

[2019-09-17 13:23] youssmak commented on #16
Thks @codlab
Doest i have to start recording afeter calling the broadcast method?
Is the recording automatically stopped when the end call red button is touched ?

----

const { Voxeet, UserType } = VoxeetSDK;

Voxeet.initializeToken("YOUR_CONSUMER_KEY", "YOUR_CONSUMER_SECRET")
.then(() => Voxeet.defaultBuiltInSpeaker(true))
.then(() => Voxeet.defaultVideo(true))
.then(() => Voxeet.connect(new Use

[2019-09-26 09:53] youssmak opened #17 "java.lang.RuntimeException: Unable to instantiate service com.voxeet.toolkit.notification.CordovaFirebaseMessagingService"
**Describe the bug**

Google play automatic tests fail on multiple devices :
- Mate 9 Android 7.1
- Pixel Android 7.1
- Pixel 2 Android 8.1
- Pixel 3 Android 9

[code]

[2019-09-26 09:57] codlab commented on #17
Which version?

[2019-09-26 10:36] youssmak commented on #17
Last version seems to fix things 👍

[2019-09-26 10:36] #17 closed, assigned to nobody

[2019-10-01 13:21] youssmak opened #18 "Incompatibility with Xcode 11"
**Describe the bug**

I'm unable to build since i have upgrade Xcode to the last version

[code]
Could you please update the ios sdk dependency to avoid Incompatible Swift version ?

[2019-10-01 14:20] VTCoco commented on #18
Working on it to bump Voxeet SDKs versions :)

[2019-10-01 15:04] VTCoco commented on #18
It should be available with 1.2.14, can you try on your side @youssmak please ?

[2019-10-04 07:13] #18 closed, assigned to nobody

[2019-10-04 07:25] youssmak commented on #18
fixed, thank you !

[2019-10-25 16:21] DiegoRodriguez93 opened #19 "it's possible get a call with app in background stance in ios?, at android work perfect"
it's possible get a call with app in background stance in ios?, at android work perfect

[2019-11-01 15:58] weiz18 opened #21 "XCode 11.2 build issue"
Hey,

We are getting the following issue when we upgraded our build stack to to XCode 11.2

`Incompatible Swift version - framework was built with 5.1 (swiftlang-1100.0.270.13 clang-1100.0.33.7) and the local version is 5.1.2 (swiftlang-1100.0.278 clang-1100.0.33.9)`

Thanks

[2019-11-04 14:35] VTCoco commented on #21
This should be patch with the new release 1.3.12 @weiz18

[2019-11-04 14:35] #21 closed, assigned to nobody

[2020-01-03 18:03] diegorodriguezvida opened #23 "question"
in cordova exist  one method like handle on leave?

[2020-01-03 18:21] codlab commented on #23
This functionnality does not currently exists but we'll update this issue when it will be available

[2020-02-18 15:27] diegorodriguezvida opened #24 "connection problem"
we've been having trouble with video calls, in the last hours

[2020-02-19 15:05] guzmange opened #25 "Error On Android Call"
I am having issues on calling an android device, it works from and to iphone. But when making a call to android it wont work.
It Gives error when the android user recieves an invite, it wont open the camera on android.

[2020-02-19 15:06] guzmange opened #26 "Error on android when recieving a call"
I am having issues on calling an android device, it works from and to iphone. But when making a call to android it wont work.
It Gives error when the android user recieves an invite, it wont open the camera on android.

[2020-02-19 15:07] #26 closed, assigned to nobody

[2020-02-19 17:10] codlab commented on #25
In order for us to properly handle and manage the issue, please use the provided issue template from the list

[2020-02-19 17:10] #25 closed, assigned to nobody

[2020-02-19 17:10] codlab commented on #24
Is it still something you experience ?

[2020-03-25 18:35] mattyg opened #27 "Plugin Install fails due to "Incompatible Swift Version""
**Describe the bug**

Install of cordova-plugin-voxeet fails with  the following error: `Incompatible Swift version - framework was built with 5.1.3 (swiftlang-1100.0.282.1 clang-1100.0.33.15) and the local version is 5.2 (swiftlang-1103.0.32.1 clang-1103.0.32.29).`

Full error: https://gist.github.com/mattyg/6b0f3d5bcfb1ee4870211ea3b1074aab

**Expected Behaviour**

Plugin installs successfully.

[2020-03-26 08:32] VTCoco commented on #27
An update will be provided today to resolve this point, thank you for your report.

[2020-03-26 11:17] VTCoco commented on #27
Swift 5.2 support with v1.3.24. :)

[2020-03-26 11:17] #27 closed, assigned to nobody

[2020-03-26 15:06] VTCoco commented on #19
Yes, iOS cordova plugin automatically enable background mode.

[2020-03-26 15:06] #19 closed, assigned to nobody

[2020-07-14 02:57] feded opened #28 "i18n?"
Is there a way to change language for the callkit?

[2020-07-17 07:22] VTCoco commented on #28
Hello, if you mean localizable strings yes you can override them.
Create in your application you desired Localizable.strings and override:

_(for UXKit:)_
[code]

_(for CallKit:)_
[code]

[2020-07-23 20:59] feded commented on #28
Great!! Thanks.

[2020-07-23 20:59] #28 closed, assigned to nobody

[2020-09-30 20:14] mattyg opened #29 "Incoming Call Notifications Displayed after Disconnect from Voxeet"
**Describe the bug**

After calling Voxeet.disconnect(), the device still receives incoming call notices. When I click "accept" on these incoming call notices, the call is not joined.

**Expected Behaviour**

After calling Voxeet.disconnect(), the device should not longer receive incoming call notices, until Voxeet.initializeToken() and Voxeet.connect() are called again.

**Steps to Reproduce the

[2020-09-30 23:56] codlab commented on #29
The disconnect() is not meant to prevent invitation to be received but to make the participant stop local activity. If a disconnected user receives invitation they normally will trigger the proper flow when the sdk is initialized.

this is why in such cases, it’s mandatory to use the VoxeetSDK.initialize() in the native part of it’s not made available when the Cordova engine starts.

In the later

[2020-10-01 13:27] mattyg commented on #29
Is there another function to stop the participant from receiving incoming call notifications?

Should I call connect() again as a placeholder "Blank" user that will never be sent an invitation before then calling disconnect()?

My issue is not that clicking "Accept" fails to start the call. My issue is that I want to stop the device from receiving incoming call notifications after my user has been

[2020-10-08 23:18] mattyg opened #30 "Building on Xcode 12"
I saw that voxeet-uxkit-ios was just updated 1.3.6 to support building with Carthage on Xcode 12. I [forked](https://github.com/stirling-brandworks/voxeet-uxkit-cordova/tree/bump-ios-sdk) this plugin to use the updated voxeet-uxkit-ios, but I'm still unable to build it.

After adding the plugin to cordova, and it failing, I run the following (where carthage.sh is the script noted in [this comment]

[2020-10-12 15:41] youssmak commented on #30
@VTCoco could you please upgrade voxeet-uxkit-cordova project for compatibility with XCode 12 ?

[2020-10-12 23:44] #24 closed, assigned to nobody

[2020-10-13 07:38] VTCoco commented on #30
Hello @mattyg, you were on a good track but you forgot to also bump the VoxeetSDK version.
I will publish a new update that bump those frameworks and @youssmak you will need to create a **carthage.sh** script like the one mentions above (https://github.com/Carthage/Carthage/issues/3019#issuecomment-665136323) because Carthage doesn't officially supports Xcode 12.

My **carthage.sh** script looks l

[2020-10-13 07:41] VTCoco commented on #30
https://github.com/voxeet/voxeet-uxkit-cordova/releases/tag/v1.3.33

[2020-10-13 16:47] mattyg commented on #30
Thanks @VTCoco, but the build is still failing with the same error on 1.3.33. Have you been able to successfully install the plugin in an example cordova app?

[2020-10-13 19:28] mattyg commented on #29
@codlab Checking in on this again.

Please let me know how I can disconnect a participant from Voxeet such that they do not receive incoming call notifications intended for the previously-connected participant.

[2020-10-14 07:22] VTCoco commented on #30
With these steps I got my sample running:
[code]

The last step should fail because it can't use carthage with Xcode 12 on SDWebImageMapKit or VoxeetUXKit:
[code]

Then launch the local carthage script:
[code]

[2020-10-14 16:21] mattyg commented on #30
@VTCoco Huh, I'm not sure what's different about my system. I tried on Xcode 12.0.1 and downgraded to 12.0 and am still getting the same result.

I'm following the same steps, and the ./carthage.sh command output still ends with:

[code]

And the xcodebuild log still ends with:
[code]

[2020-10-19 23:42] mattyg opened #34 "Users list inconsistently displayed"
**Describe the bug**

The users list (the circles showing the user avatar, name and speaking indicator) is not consistently displayed at the top of the screen. It's not clear to me *when* it is supposed to be displayed, but I would expect the behavior to be consistent.

Sometimes, device A creates a conversation, invites device B and starts the conversation. The users list appears on device A, unt

[2020-10-20 17:04] mattyg commented on #28
For future reference if anyone needs. The android localization strings are as follows:

[code]

To modify them from your cordova config.xml, use the `<edit-config>` tag:
[code]

[2020-10-21 04:41] Tallyb commented on #30
How is that suppose to run in a CI? The plugin script is still failing

[2020-10-21 07:16] VTCoco commented on #30
Waiting for an official solution from Carthage maybe the current "best" way is to modify cordova script to use the custom carthage.sh (https://github.com/voxeet/voxeet-uxkit-cordova/issues/30#issuecomment-707554171)?

[2020-10-21 16:19] Tallyb commented on #30
I think this is a valid solution. Add the carthage.sh to the repo and call it.
Or maybe you can just add a xxconfig.tmp and use it for configuration.

[2020-10-23 03:08] mattyg opened #35 "Self-facing video does not appear when re-joining conference on android"
**Describe the bug**

Upon re-joining an existing conference, the self-facing video overlay does not appear, only the other participant's video appears.  I have only produced this issue on android and have not yet tested it on ios.

**Expected Behaviour**

The self-facing video appears when joining a conference initially, or re-joining it subsequently.

**Steps to Reproduce the Problem**

See the

[2020-10-23 03:49] mattyg commented on #30
@Tallyb Is it actually building for you with the carthage.sh script?

[2020-10-26 15:16] mattyg commented on #29
My mistake - I am unable to reproduce the issue in a minimal example.

Sorry about that and thanks for your help.

[2020-10-26 15:16] #29 closed, assigned to nobody

[2020-10-26 18:21] Tallyb commented on #30
@mattyg - with some tweaks. Unfortunately, it does not seem to work properly.
@VTCoco  - I think embedding properly built frameworks in the repo, is the one solution that can save all this trouble. We have been spending days over this.

[2020-10-29 21:39] mattyg commented on #30
It's building and working properly now with the new release 1.3.35 running the 3.x sdk.

Thanks so much for your help!

[2020-10-29 21:39] #30 closed, assigned to nobody

[2020-10-30 01:49] mattyg opened #36 "No Video from either participant when joining from "Incoming Call" notice on iOS"
**Describe the bug**

When joining a conference from an incoming call notice on iOS, neither participants video is shown, only a grey background.

Very inconsistently, the video for both participants does appear properly.

**Expected Behaviour**

Both participants video is shown when joining a conference from an incoming call notice on iOS.

**Steps to Reproduce the Problem**

See the minimalistic

[2020-10-30 05:36] Tallyb commented on #30
Well - you would except upgrading the sdk to a major version would at least be a minor version for this plugin, no?

[2020-10-30 17:31] FabienLavocat commented on #35
Thank you @mattyg for reporting this issue, we are working on it and will get back to you as soon as we have a solution.

[2020-10-30 17:31] FabienLavocat commented on #36
Thank you @mattyg for reporting this issue, we are working on it and will get back to you as soon as we have a solution.

[2020-11-02 08:57] VTCoco commented on #30
Hello, yes we published the v1.3.35 with your advices to integrate the Carthage script into the Cordova build, thank you for your help.

[2020-11-02 19:17] mattyg opened #37 "Incoming call notices inconsistently not appearing on iOS"
**Describe the bug**

Inconsistently, incoming call notices on iOS do not appear, but the device rings / vibrates as expected.

**Expected Behaviour**

Incoming calls should always display an incoming call notice when the app is open and connected to Voxeet.

**Steps to Reproduce the Problem**

See the minimalistic code example below.

**Minimalistic code (recommended)**

This repo (branch no-hud-

[2020-11-03 09:04] VTCoco commented on #36
Do you hear at least the other participant or neither audio & video are available @mattyg?

[2020-11-03 14:31] mattyg commented on #36
@VTCoco  Device B does not get audio nor video.

[2020-11-03 15:55] VTCoco commented on #36
Ok thank you for your report, we are working on it. https://github.com/voxeet/voxeet-uxkit-cordova/issues/37 is also related to  this one. 👍

[2020-11-03 21:17] mattyg opened #38 "Speaker button disabled when conference joined with headphones"
**Describe the bug**

When joining a conference with headphones plugged in, the speaker button is disabled. Upon removing the headphones, the speaker button remains disabled.

**Expected Behaviour**

If headphones are removed, the speaker button should become enabled and toggled "on".

**Steps to Reproduce the Problem**

See the minimalistic code example below.

**Minimalistic code (recommended)**

[2020-11-03 21:22] mattyg opened #39 "Speaker audio off, despite calling Voxeet.defaultBuiltInSpeaker(true) before joining conference"
**Describe the bug**

Calling `Voxeet.defaultBuiltInSpeaker(true)` before joining a conference does not cause the speaker to be enabled by default.

Very inconsistently, the device speaker is enabled when joining the conference, as expected.

**Expected Behaviour**

Every time a user joins a conference after calling `Voxeet.defaultBuiltInSpeaker(true)`, the other participants audio will be played

[2020-11-04 03:44] Tallyb commented on #30
@VTCoco - I think it will work best if you simply embed the built framework in the code and not rely on local carthage. That can surely remove many problems of the build, and any new sdk requires a new release whatsoever.

[2020-11-04 23:31] FabienLavocat commented on #38
@mattyg when you click the Speaker button, do you get a modal window asking you to pick an audio output?
Since the UXKit for Cordova is using the Android UXKit, I ran some tests using the native UXKit for Android and I can't reproduce the problem.

[2020-11-05 17:42] feded commented on #39
I have the same problem with Android, iOS working as expected. Any solution on this?

[2020-11-05 18:02] mattyg commented on #38
@FabienLavocat  No, I do not get a modal window. Can you reproduce the issue using this plugin in the minimal example repo linked above?

[2020-11-06 15:37] FabienLavocat commented on #38
@mattyg when I plug/unplug the headphones, the status of the Speaker button changes for me. I need to keep investigating more.

[2020-11-06 16:06] FabienLavocat commented on #38
@mattyg in your code sample, could you upgrade to the version 1.4.0 of the plugin:
`"cordova-plugin-voxeet": "^1.4.0",`
https://github.com/mattyg/voxeet-cordova-example/blob/no-hud-video-bug/src-cordova/package.json#L20

[2020-11-06 18:19] mattyg commented on #38
@FabienLavocat I updated the code sample to use 1.4.0.

Now when I unplug the headphones, the Speaker button is enabled again and tapping it opens the modal window. However the modal window is empty -- there are no sound output options to choose. I still don't hear audio out of the speaker.

[2020-11-10 15:53] mattyg commented on #35
It looks like this was resolved in the 1.4.0 release last week. Thanks.

In the future, could you please update these tickets when they have been addressed or resolved? I had no idea the recent release addressed this issue.

[2020-11-10 15:53] #35 closed, assigned to nobody

[2020-11-10 17:02] mattyg commented on #36
Just checking in on this @VTCoco. Do you have any eta for when the issue will be resolved? Thanks!

[2020-11-12 08:06] VTCoco commented on #36
Everything is fixed on our side, we are now testing before the v3.0.1 release 👍

[2020-11-13 20:46] FabienLavocat commented on #39
Sorry for the delay, we are still looking into it. Our 3.0.1 release on Monday will fix most of the issues reported.

[2020-11-16 10:00] weiz18 opened #40 "[Feature] Fire cordova window event whenever an action is performed"
**Describe the bug**

Currently, there is no way to know when the callkit is opened, closed , minimised or maximise apart from the visual feedback, so we can't perform any additional actions in respond to those, for instance,  When a callkit is minimised,  we would like to be notified and provide additional information to user such as a dialog.

**Expected Behaviour**

Getting notified when an act

[2020-11-16 15:43] VTCoco commented on #37
Hello with the https://github.com/voxeet/voxeet-uxkit-cordova/releases/tag/v1.4.2 release that is using our v3.0.1 VoxeetSDK, this ticket is resolved.

[2020-11-16 15:43] #37 closed, assigned to Comanga

[2020-11-16 15:43] VTCoco commented on #36
Hello with the https://github.com/voxeet/voxeet-uxkit-cordova/releases/tag/v1.4.2 release that is using our v3.0.1 VoxeetSDK, this ticket is resolved.

[2020-11-16 15:43] #36 closed, assigned to nobody

[2020-11-16 21:44] mattyg commented on #38
@FabienLavocat With the 1.4.2 release, the behavior changed slightly:

When I unplug the headphones, the Speaker button is enabled again and toggled "off." Tapping it opens the modal window with the text "Media output" and no other content. **I hear audio out of the "ear piece" speaker, not the "speaker-phone" speaker**

[2020-11-16 21:47] mattyg commented on #39
@FabienLavocat I'm still experiencing the issue on Android with the 1.4.2 release, though it has changed slightly:

Conference audio plays out of the "ear-piece" speaker not the "speaker-phone" speaker, and the button is toggled "off." Tapping the button opens a modal window with the text "Media output" and no other content. The behavior is now consistent.

[2020-11-16 22:26] mattyg commented on #34
I recognize this is not a great issue report. I will reopen if I can reproduce consistently with a minimal example.

[2020-11-16 22:26] #34 closed, assigned to nobody

[2020-11-19 18:48] mattyg commented on #38
@FabienLavocat Just checking on this -- do you have an ETA when this will be resolved?

[2020-11-19 18:48] mattyg commented on #39
@FabienLavocat Just checking on this -- do you have an ETA when this will be resolved?

[2020-11-24 17:16] mattyg commented on #39
Just checking on this again -- do you have an ETA when this will be resolved?

[2020-11-24 17:17] mattyg commented on #38
Just checking on this again -- do you have an ETA when this will be resolved?

[2020-12-07 18:14] mattyg commented on #39
This core issue was resolved in the 1.4.5. Thank you!

Speaker audio is now enabled by default after calling `Voxeet.defaultBuiltInSpeaker(true)` before joining conference.

However, conference audio plays out of the "ear-piece" speaker not the "speaker-phone" speaker. Tapping the speaker button opens a modal window with the text "Media output" and no other content. I will create a seperate ticket

[2020-12-07 18:14] #39 closed, assigned to codlab

[2020-12-07 18:20] mattyg opened #41 "Audio plays out of ear-piece speaker by default & unable to switch output speaker on Android"
**Describe the bug**

On android devices with multiple speakers, conference audio plays out of the "ear-piece" speaker not the "speaker-phone" speaker. Tapping the speaker button opens a modal window with the text "Media output" and no other content.

**Expected Behaviour**

Conference audio plays out of the "speaker-phone" speaker by default. The "Media output" modal window contains a list of pos

[2020-12-07 18:33] mattyg commented on #38
This core issue was resolved in the 1.4.5. Thank you!

The speaker button is no longer disabled when joining a conference with headphones. When the headphones are removed, the speaker button remains enabled, and audio output switches to the device speaker.

However, conference audio plays out of the "ear-piece" speaker not the "speaker-phone" speaker. Tapping the speaker button opens a modal windo

[2020-12-07 18:38] #38 closed, assigned to codlab

[2020-12-08 08:51] codlab commented on #41
The v1.4.6-BETA1 should fix the issue.

Concerning the point `Conference audio plays out of the "speaker-phone" speaker by default`, a work on the default output will make it available _if set to default_ in an another release

[2020-12-09 08:22] VTCoco commented on #30
Do you want our .framework directly been published into github? (this is a bad idea)

However if you want to get our .framework from somewhere else than Carthage (which doesn't officially support Xcode 12 for now as a reminder...) you can grab them from our S3 links available here: https://github.com/voxeet/voxeet-sdk-ios/blob/master/VoxeetSDK.json

[2020-12-09 13:54] Tallyb commented on #30
well, wikitude cordova plugins, for instance, place the FW inside the repo. Anyway, having those links is useful. thank you.

[2020-12-09 15:38] mattyg commented on #41
Thanks @codlab -- do you have an ETA for when v1.4.6 be out of beta and officially released?

[2020-12-14 18:43] mattyg commented on #41
Hi @codlab just checking in again  -- do you have an ETA for when v1.4.6 be out of beta and officially released?

[2020-12-14 19:51] mattyg commented on #41
@codlab I tested out a build using the branch `beta/v1.4.6` but the "Media Outputs" modal is still empty. Is that the issue that it is supposed to fix?

[2020-12-15 08:50] codlab commented on #41
Can you give me the logs from your app?

The log should be at least from before the conference view is being shown and "after" a click on the list of devices.

The ear piece by default is still normal for now

[2020-12-15 14:58] feded commented on #41
@codlab Even after calling "defaultBuiltInSpeaker(true)" before or after joining the conference, on Android devices I still have the ear-piece and has to be changed with the button.

Ios works as expected.

I'm going for a workaround to enable the speaker for now.

[2020-12-16 08:23] codlab commented on #41
The package 1.4.7-BETA2 should introduce the fix for the speaker mode not being used properly

The previous list of devices in the 1.4.6-BETA1 is also bundled inside. If the list remains emty, I would need our app logs to check why the interface couldn't load the various items.

[2020-12-30 19:13] feded opened #43 "Video does not always appear after 1.4.6 update SDK 3.0.3"
Video calls are inconsistent. The video is not always shown on a peer to peer call with defaultVideo set to true.

**Expected Behaviour**

Video should be shown on both peers after creating and joining a call.

**Minimalistic code (recommended)**

[code]

**Specifications**

  - Platform: Android, iOS
  - SDK: 3.0.3
  - Cordova version: 1.4.6

[2020-12-30 19:43] codlab commented on #43
The 1.4.7-BETA2 should address this part (as well as other sdk related fixes)

[2021-01-04 13:58] feded commented on #43
Hi @codlab, this is also happening on the 1.4.7-BETA2 version. No exceptions are thrown.

[2021-01-05 01:22] FabienLavocat commented on #40
Hi @weiz18 this Pull Request #44 will add the conference events into the Cordova layer for Android. You will be able to know when the status of a conference changes.

[2021-01-28 18:48] gabides opened #47 "[Feature] Add Capacitor compatibility by default"
**Describe the bug**

Capacitor is a cross-platform framework, similar to cordova but with better performances https://capacitorjs.com/
Capacitor supports cordova plugins, but not all cordova plugins are compatible.
The `voxeet-cordova-plugin` works fine for Android, but it isn't compatible by default for iOS, we had it working with some fixes scripts.

**Expected Behaviour**
Inside `package.json`

[2021-02-25 16:05] gabides opened #49 "[Bug] cordova-plugin-voxeet@1.4.7 build is failing on Android"
**Describe the bug**

Android build fails with version 1.4.7

**Expected Behaviour**

Android should build successfully

**Steps to Reproduce the Problem**

1. Add `cordova-plugin-voxeet@1.4.7` on a cordova project
2. Build for android (Android Studio or CLI)
3. Build fails with the following :
[code]

Looks like the cordova plugin was updated to 1.4.7 and the code relies on android-uxkit 3.0.4 ne

[2021-02-26 15:57] codlab commented on #49
A 1.5.0 release has been pushed to make it working properly. Note that it introduces a change (unrelated to the issue in this ticket) where you will need to adapt the variable injected inside your project

You will need to replace the VoxeetSDK (window.VoxeetSDK) to VoxeetCordova. This `VoxeetCordova` contains a `VoxeetSDK` class instance and `UserInfo` class definition

from there you can use all

[2021-02-26 15:59] codlab commented on #41
A new update is available containing this fix, the1.5.0 release has been pushed to make it working properly. Note that it introduces a change (unrelated to the issue in this ticket) where you will need to adapt the variable injected inside your project

You will need to replace the VoxeetSDK (window.VoxeetSDK) to VoxeetCordova. This VoxeetCordova contains a VoxeetSDK class instance and UserInfo cl

[2021-02-26 15:59] #41 closed, assigned to nobody

[2021-03-01 10:01] weiz18 commented on #49
Hey, @codlab , thanks 1.5.0 work great, we do however have any issue with the build on our CI pipeline.  Do you know why cordova 10 is now required ? https://github.com/voxeet/voxeet-uxkit-cordova/compare/v1.4.8...v1.5.0#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R70
Thanks
Wei

[2021-03-01 10:09] gabides commented on #49
@codlab thanks for the fix above

FYI the issue we're having : when adding cordova-plugin-voxeet@1.5.0 to our project, `npm install` works but `npm ci` fails with the following :
[code]

Not sure cordova versions should be added to the plugin's dependencies, no other plugins are doing this

[2021-03-01 17:47] codlab commented on #49
@gabides I tried to reproduce the issue using various projects but couldn't. Can you send us your package-lock.json file ? Various items online points toward the direction of out of sync lock file with the content of this file. (the fact that npm install is working is another indicator that it may easily the issue here). If you can provide me as well your npm version I would try to reproduce the i

[2021-03-02 13:01] gabides commented on #49
Hi @codlab , yes this issue goes away when we sync our package-lock.json. But adding cordova version to the dependencies is a hard requirement, any reason for this in the plugin's code ?

[2021-03-03 17:05] codlab commented on #49
It will be removed in the new version - we published the day before yesterday the 3.1.0 version of the SDK and the new Cordova's plugin will reflect that as well as removing the Cordova dep

[2021-03-03 17:07] gabides commented on #49
Ok great, thanks for the quick support

[2021-03-03 17:47] codlab commented on #49
The 1.5.1 is available as we speak, it removes this. Can you test? It normally removes the issue (and the explicit dep on your own app)

[2021-03-09 19:10] FabienLavocat commented on #40
We are now propagating the conference events in the Cordova layer with the latest version of the plugin.

[2021-03-09 19:10] #40 closed, assigned to FabienLavocat

[2021-03-09 19:11] FabienLavocat commented on #23
We are now propagating the conference events in the Cordova layer with the latest version of the plugin.

[2021-03-09 19:11] #23 closed, assigned to nobody

[2021-03-19 14:44] FabienLavocat commented on #49
This has been fixed in the latest versions of the plugin.

[2021-03-19 14:44] #49 closed, assigned to codlab

[2021-11-09 15:56] youssmak opened #61 "Not compatible with cordova-android@10.1.1"
**Describe the bug**

**Minimalistic code (recommended)**

[code]

[2021-11-09 16:16] codlab commented on #61
react-native-webrtc is incompatible with our library as both are using native webrtc integration and not aligned (integration of dolby technologies, bug fixes etc...).
Therefore you can't use the voxeet cordova plugin and that library.

I also see that using cordova-android@10.1.1, nothing related to react-native is integrated at all which makes sense since vanilla Cordova wouldn't be integrating

[2021-11-10 16:28] youssmak commented on #61
thks !

[2021-11-10 16:28] #61 closed, assigned to nobody

[2022-04-20 23:40] Alexini opened #66 "Cant install cordova plugin missing "Carthage/Build/VoxeetUXKit.xcframework""
Hello !
I use this plugin for a cordova app and I didn`t ahve any problem on Android platform, is working as expected but Ican't install it on IOS. After cordova-install I get:

Error: Command failed: /Users/interalia/Documents/Alexini Project/WorkoutMinister/WorkoutMinister/plugins/cordova-plugin-voxeet/carthage.sh update --use-xcframeworks --platform ios --no-use-binaries --project-directory /Us

[2022-04-21 08:44] Alexini commented on #66
I solved it installing xcode 13 and then going to the cordova project root folder and

sudo xcode-select -s /Applications/Xcode.app/Contents/Developer

after that i could install it.

[2022-04-21 15:44] Alexini opened #67 "Can't upload the iOS bundle to AppStore"
I was able to add the plugin upgrading xcode version to 13.
I test my app and everything is working but then i try to archive the .ipa and upload it to the appStore but I face with this error

CFBundleIdentifier Collision. There is more than one bundle with the CFBundleIdentifier value 'com.onevcat.Kingfisher' under the iOS application 'WorkoutMinister.app'. With error code STATE_ERROR.VALIDATION_

[2022-04-21 22:47] FabienLavocat commented on #66
You are right, the latest version of the UXKit for Cordova is using the iOS SDK version 3.3.3 and is compatible with XCode 13.2.

[2022-04-21 22:47] #66 closed, assigned to FabienLavocat

[2022-04-21 22:48] FabienLavocat commented on #43
Closing this issue, if this is still happening with the latest version of the SDK, please open a new ticket.

[2022-04-21 22:48] #43 closed, assigned to nobody

[2022-04-21 22:55] FabienLavocat commented on #67
This is unlikely related to the SDK / UXKit, please checkout this Stackoverflow page: https://stackoverflow.com/questions/40005130/error-itms-90685-cfbundleidentifier-collision-there-is-more-than-one-bundle

[2022-04-21 22:55] #67 closed, assigned to FabienLavocat

[2022-05-18 14:45] asadumair opened #68 "How can i show participant's names when there are more than 2 persons in call."
when there are more than 2 users there are videos in circles but how can i show their names under it???

[2022-05-18 14:48] asadumair opened #69 "How can i capture the click event when user click on other user's video circles??"
How can i capture the click event when user click on other user's video circles
basically we want to show their profiles and other information's but when we click on other user circle then video show in large container.
Is there any event when i click on circle then it fires.

[2022-05-18 14:52] FabienLavocat commented on #69
Hi @asadumair,
If you want to capture user interaction within the layout of the UXKit, you will have to customize the native UXKit for both [Android](https://github.com/voxeet/voxeet-uxkit-android) and [iOS](https://github.com/voxeet/voxeet-uxkit-ios). Then recompile those two libraries and use them into a custom Cordova UXKit library.

[2022-05-18 15:04] FabienLavocat commented on #68
What platform are you testing this on?

[2022-05-19 08:14] asadumair commented on #68
we are developing cross platform application in ionic.
so please tell us how can i show name of persons under their videos.

[2022-05-19 08:17] asadumair opened #70 "VoxeetSDK.setUIConfiguration is not working ionic(ios)"
we are import by this
import { Configuration } from 'plugins/cordova-plugin-voxeet/www/types';
import * as VoxeetSDK from 'plugins/cordova-plugin-voxeet/www/VoxeetSDK';

we declare like this
const configurations = <Configuration>{
      actionBar: {
        displayMute: false,
        displaySpeaker: false,
        displayCamera: false,
        displayScreenShare: true,
        displayLeave: true

[2022-05-19 09:36] asadumair commented on #70
why this setUIConfiguration code is commented
![image](https://user-images.githubusercontent.com/24250997/169262690-c8528e44-d741-4cde-ab62-b10387a04610.png)

[2022-05-19 14:47] asadumair opened #71 "navigator.attachMediaStream() is not available in ionic"
navigator.attachMediaStream() is not available ionic

this will use for the append different videos under desired div.

if (!videoNode) {
    videoNode = document.createElement("video");

    videoNode.setAttribute("id", "video-" + participant.id);
    videoNode.setAttribute("height", 240);
    videoNode.setAttribute("width", 320);
    videoNode.setAttribute("playsinline", true);
    videoNode.mut

[2022-05-25 12:34] ActionalyDev opened #72 "Dolby Voxeet Capacitor Cordova plugin Android call notification issue"
**Describe the bug**

When compiled with Capacitor on Android, the app/plugin does not open a call invitation screen/activity when the app is not active or in the background already.

**Expected Behaviour**

The call invitation screen or notification should appear when a call notification is received without having the app already opened.

**Steps to Reproduce the Problem**

"cordova-plugin-voxeet

[2022-05-31 11:02] asadumair opened #73 "plugin installation issue"
Hello i want to install plugin but these errors are there

Installing "cordova-plugin-voxeet" for ios
Installing Carthage dependencies... (this operation can take few minutes)
Error: Command failed: /Users/user/Desktop/Ionic Projects/Dolby/plugins/cordova-plugin-voxeet/carthage.sh update --platform ios --no-use-binaries --project-directory /Users/user/Desktop/Ionic Projects/Dolby/plugins/cordova-p

[2022-05-31 11:58] codlab commented on #73
Seems that it's because your path contains whitespace. Please check by renaming Ionic project to Ionic_project

[2022-06-01 11:57] #73 closed, assigned to nobody

[2022-06-01 11:58] asadumair commented on #73
yes it works.
ThanYou

[2022-06-01 11:58] #68 closed, assigned to nobody

[2022-10-12 16:27] gabides opened #74 "[Bug][Android] not able to build for targetSdkVersion = 32 (Android 12)"
**Describe the bug**

Not able to build an app targeting adnroid 12 (skd 32)  with this plugin. Can you update the android uxkit to a version compatible with android 12?

**Expected Behaviour**
We should be able to target android 32 / gradle v7

[Describe the expected behaviour of the feature.]

**Steps to Reproduce the Problem**

  1. install latest version of the plugin with npm, set android tar

[2022-10-13 06:40] codlab commented on #74
There's a WIP branch for this as well as some improvements, it will be update soon but can be early tested via `cordova plugin add "git+https://github.com/voxeet/voxeet-uxkit-cordova#cd234b21ec4848bdfa131dd0da1168029ded7285"`

[2022-10-13 08:09] gabides commented on #74
Hey @codlab good news! do you plan to do the same for the capacitor push plugin?
https://github.com/voxeet/voxeet-uxkit-capacitor-push/issues/1

[2022-10-13 08:49] codlab commented on #74
It's planned in the upcoming days

[2022-10-13 09:02] gabides commented on #74
When testing the plugin on this commit `git+https://github.com/voxeet/voxeet-uxkit-cordova#cd234b21ec4848bdfa131dd0da1168029ded7285`, I don't have the issue from the original description but i have this one during the android build:

[code]

[2022-10-13 18:26] codlab commented on #74
This is another issue which can be mitigated using the commit 4f849af1d6d722ea7126e82402e8f77ad9567aea

[code]

[2022-10-14 08:24] gabides commented on #74
Hey @codlab , with the commit https://github.com/voxeet/voxeet-uxkit-cordova/commit/4f849af1d6d722ea7126e82402e8f77ad9567aea i get this new error during android build now:

[code]

[2022-10-14 13:41] codlab commented on #74
Indeed I made a typo while rewriting the content so that it would force the urls only for the expected packages. 449fdb67d4e04c644f7431ee4fb5e92f282108e9 is using the proper `release` folder instead of the `releases`. Those issues should disappear as soon as I finish to work on the ci for this project

[2022-10-14 13:51] gabides commented on #74
Thx Kevin, build is now passing with this commit

[2022-10-24 08:57] gabides commented on #74
Hi @codlab any idea of when this will get merged and released? The November deadline is approaching soon on the store..

[2022-10-31 10:51] rbonora commented on #74
Hi any news on this please? this is critical for us thanks

[2022-11-01 17:53] codlab commented on #74
The version 1.5.7 has been pushed 👍 edit : this fixes the above issues, normally everything should be alright. Feel free to reopen a ticket if something happens

[2022-11-01 17:53] #74 closed, assigned to nobody

[2022-11-01 17:55] codlab commented on #71
The navigator's attachMediaStream is only available in regular browsers, Cordova and ionic are shipping a minimalist implementation (that's why currently only the UXKit's are supported by Cordova). Implementing custom video in the div is then not supported and only possible via native views

[2022-11-01 17:55] #71 closed, assigned to nobody

[2022-11-01 17:57] codlab commented on #72
This should be fixed in 1.5.7 delivered few minutes ago 👍

[2022-11-01 17:57] #72 closed, assigned to nobody

[2022-11-08 17:12] gabides opened #76 "[Bug][Android] App crashes on startup with version 1.5.7"
following https://github.com/voxeet/voxeet-uxkit-cordova/issues/74

the android build is now passing but whenever i launch the app on an android device with the latest version ([voxeet-uxkit-cordova](https://github.com/voxeet/voxeet-uxkit-cordova) 1.5.7), the app crashes with the following error:

[code]

[2022-11-08 18:07] codlab commented on #76
looking at this one right away.

edit : Indeed local dev machine & machine for delivery is out of sync, missing the actual onCreate call from the uxkit's wrapper in the VoxeetCordova class. The fix is on its way via fix/activity_stability_using_uxkit

the testapp works using it, I'll push the 1.5.8. Github actions were on the pipe for some other projects but I'll add also Cordova for this as well

[2022-11-08 19:26] codlab commented on #76
v1.5.8 is available

In parallel, pushing also the update for the test app so that the readme will bring some more info for people who'd want to bring pre-publication tests as well before I push forward actual integration verification and stability via CI

[2022-11-08 19:26] #76 closed, assigned to codlab

[2022-11-10 08:17] rooneyl opened #77 "Android app crashes on invitation. v1.5.8"
**Describe the bug**
Application crashes when call invitation is received.

**Expected Behaviour**
Should receive voip notification.

**Steps to Reproduce the Problem**
on v1.5.8 initiate call invitation from web.

Then, cordova app crashes with
[code]

**Specifications**

  - Device: Pixel 6
  - OS: Android 12
  - Platform: Android
  - Version:
    - cordova 11
    - cordova-android @ 10.1.2

[2022-11-10 10:33] codlab commented on #77
really I can't seem to be able to reproduce this issue, however looking at the stack trace it seems that it's because we are asking for service types which are not set in the manifest :

however the documentation shows that it's possible to use OR as shown in https://developer.android.com/guide/components/foreground-services#loc-camera-mic

Also the wording seems to indicate that it's related `You

[2022-11-11 00:06] rooneyl commented on #77
is there a way to run both voxeet incoming call notification and firebase push notification?